---
import Navbar from "../components/navbar.astro";
import { Image } from "astro:assets";
---

<html lang="en">
  <title>cmykquinn | code and stuff</title>
  <link rel="preconnect" href="https://rsms.me/"/>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css"/>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body class="bg-sky-500 text-white">
  <Navbar/>
   <div class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
      <h1 class="text-4xl font-bold text-center pb-7">cmykquinn</h1>
    <p class=" text-center pb-4">
      programmer by day... <br> music producer & writer by night
    </p>
    <div>
      <ul class="text-3xl grid sm:flex justify-center text-4xl">
        <li class="px-5"><a class="nf nf-fa-envelope" aria-label="email" href="mailto:seaprano@disroot.org" target="_blank"><a class="visible sm:hidden pl-1">Email</a></a></li>
        <li class="px-5"><a class="nf nf-fa-twitter" aria-label="Twitter also known as x" href="https://x.com/cmykquinn" target="_blank"><a class="visible sm:hidden pl-1">Twitter</a></a></li>
        <li class="px-5">
          <a class="nf nf-fa-discord" aria-label="Discord" href="https://discord.com/users/1017067177796456469" target="_blank"><a class="visible sm:hidden pl-1">Discord</a></a>
        </li>
        <li class="px-5"><a class="nf nf-fa-instagram" aria-label="Instagram" href="https://instagram.com/cmykquinn" target="_blank"><a class="visible sm:hidden pl-1">Instagram</a></a></li>
        <li class="px-5"><a class="nf nf-fa-soundcloud" aria-label="SoundCloud" href="https://soundcloud.com/cmykquinn" target="_blank"><a class="visible sm:hidden pl-1">SoundCloud</a></a></li>
        <li class="px-5"><a class="nf nf-fa-tv" href="https://anilist.co/user/seaprano" aria-label="Anime watching list" target="_blank"><a class="visible sm:hidden pl-1">Anilist</a></a></li>
        <li class="px-5"><a class="nf nf-fa-github" aria-label="GitHub" href="https://github.com/cmykquinn" target="_blank"><a class="visible sm:hidden pl-1">Github</a></a></li>
      </ul>
    </div>
       <div class="text-sm opacity-50 text-center pt-5 ">
      <p>Made with <i class="nf nf-fa-heart"></i> by cmykquinn with astro, tailwindcss and nerdfonts</p>
    </div>
   </div>
    <br />
    <a href="https://stats.fm/cmykquinn" target="_blank">
  <Image class="absolute bottom-0 left-0 pl-0 sm: left-1 w-auto h-auto items-center "
  src="https://spotify-github-profile.vercel.app/api/view?uid=31chu7pwyztmssyhorvngkijm6eu&cover_image=false&theme=default&show_offline=true&background_color=000000&interchange=true&bar_color=53b14f&bar_color_cover=true"
  alt="spotify widget"
  inferSize={true}
  loading="eager"
/>
</a>

    <style is:global>
      :root {
        font-family: Inter, sans-serif;
        font-feature-settings:
          "liga" 1,
          "calt" 1; /* fix for Chrome */
      }
      @supports (font-variation-settings: normal) {
        :root {
          font-family: InterVariable, sans-serif;
        }
      }
      li,ul {
         -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        font-smooth: auto;
      }
    </style>
  </body>
</html>
