---
import { Image } from "astro:assets";
---

<html lang="en" class="bg-zinc-900 text-white" <head>
  <title>cmykquinn</title>
  <link rel="preconnect" href="https://rsms.me/" /><link
    rel="stylesheet"
    href="https://rsms.me/inter/inter.css"
  />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <body>
    <ul class="flex items-center pt-5">
      <li class="px-4"><a href="/">Home</a></li>
      <li class="px-4"><a href="/blog">Blog</a></li>
      <li class="px-4"><a href="/projects">Projects</a></li>
      <li class="px-4"><a href="/me">About</a></li>
      <li id="date-time" class="text-right font-bold ml-auto px-4"></li>
    </ul>
    <h1 class="text-4xl font-bold underline pt-10 pl-10 sm:pl-5">cmykquinn</h1>
    <div class="flex pl-10 py-3 sm:pl-5">
      <Image
        src="https://i.imgur.com/10ttDG2.png"
        alt="Transgender"
        inferSize={true}
        loading="eager"
      />
      <Image
        src="https://i.imgur.com/oYdS4J9.png"
        alt="Malwaregender"
        inferSize={true}
        loading="eager"
      />
      <Image
        src="https://i.imgur.com/HdmxfuE.png"
        alt="They/Them"
        inferSize={true}
        loading="eager"
      />
    </div>
    <p class="pl-11 md:pl-7">
      programmer by day... <br /> producer and writer by night
    </p>
    <h1 class="text-4xl font-bold underline py-10 pl-10 sm:pl-5">Find Me</h1>
    <div>
      <ul class="list-disc px-10 list-inside md:px-5">
        <li><a href="mailto:seaprano@disroot.org">E-mail</a></li>
        <li><a href="https://x.com/cmykquinn">Twitter</a></li>
        <li>
          <a href="https://discord.com/users/1017067177796456469">Discord</a>
        </li>
        <li><a href="https://soundcloud.com/cmykquinn">Soundcloud</a></li>
      </ul>
    </div>
    <br />
    <div class="text-sm opacity-50 flex justify-center items-center">
      <p>Made with luv by cmykquinn with astro, tailwindcss and &nbsp</p>
      <p>
        <a href="https://www1.flightrising.com/forums/cc/3078623">
          <Image
            src="https://i.imgur.com/YMPbu9R.png"
            alt="FREE BUTTONS"
            inferSize={true}
            loading="eager"
          />
        </a>
      </p>
    </div>

    <style is:global>
      :root {
        font-family: Inter, sans-serif;
        font-feature-settings:
          "liga" 1,
          "calt" 1; /* fix for Chrome */
      }
      @supports (font-variation-settings: normal) {
        :root {
          font-family: InterVariable, sans-serif;
        }
      }
    </style>
    <script src="clock/app.js" type="text/javascript"></script>
  </body>
</html>
