---
import Navbar from "../components/navbar.astro";
import { Image } from "astro:assets";
---

<html lang="en">
  <title>cmykquinn | code and stuff</title>
  <link rel="preconnect" href="https://rsms.me/"/>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css"/>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body class="bg-sky-500 text-white">
  <Navbar/>