---
---

	<nav class="pt-5 text-center bg-slate-900 bg-opacity-50 py-5">
      <a class="px-5 hover:underline" href="/">Home</a>
      <a class="px-5 hover:underline" href="/about">About</a>
      <a class="px-5 font-bold" id="date-time" href="/"></a>
      <a class="px-5 hover:underline" href="/contact">Contact</a>
      <a class="px-5 hover:underline" href="/projects">Projects</a>
	</nav>

      <script>
      window.addEventListener("load", () => {
  clock();
  function clock() {
    const today = new Date();

    const hours = today.getHours();
    const minutes = today.getMinutes();

    const hour = hours < 10 ? "0" + hours : hours;
    const minute = minutes < 10 ? "0" + minutes : minutes;

    const hourTime = hour > 12 ? hour - 12 : hour;

    const ampm = hour < 12 ? "AM" : "PM";

    const time = hourTime + ":" + minute + ":" + ampm;
    const dateTime = time;
    document.getElementById("date-time").innerHTML = dateTime;
    setTimeout(clock, 1000);
  }
});
    </script>